body {
    position: relative;
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family: 'Muli', ;
}

.cont{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   background-image: url(../imgs/background.jpg);
   background-size: cover;
   align-items: center;
   position: relative;   
}


.login-box{
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}
form > p:first-of-type {
    font-family: 'Muli', ;
}

#or{
    text-align: center; 
    position: absolute;
    top: 64%;
}

#loginButton{
    top: 100%;
    height: 40px;
    width: 65%;
    position: absolute;
}

#signupButton{
    height: 40px;
    width: 65%;
}

#signup-button{
    position: absolute;
    top: 78%;
    height: 40px;
    width: 65%;
}